/* General Styles */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    display: flex;
    flex-direction: column;
    flex: 1;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #333;
    color: #fff;
    padding: 1rem;
}

header h1 {
    margin: 0;
    font-size: 2.5rem;
}

header a {
    color: #fff;
    text-decoration: none;
}

header a:hover {
    text-decoration: underline;
    transform: translateY(-5px);
}


main {
    flex: 1;
    padding: 1rem;
}

.category {
    background: #fff;
    margin: 10px;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
    width: calc(50% - 20px - 2rem);
    height: 300px;
    display: flex;
    align-items: center;

    @media (max-width: 768px) {
        width: calc(100% - 20px - 2rem); 
        flex-direction: column;
    }

    @media (min-width: 1024px) {
        width: calc(33.333% - 20px - 2rem);
    }
}

.category .content {
    flex: 1;
}

.category img {
    width: 100px; 
    height: auto; 
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-left: 20px;

    @media (max-width: 768px) {
        margin-left: 0;
        margin-top: 20px;
    }
}


.category:hover {
    transform: translateY(-5px);
    cursor:pointer;
}

.category:hover h2{
    text-decoration: underline;
}

.category h2 {
    color: #333;
    font-size: 1.8rem;
    margin-top: 0;
}

.category p {
    font-size: 1rem;
    color: #666;
}

footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
}


.main-container-list {
    display: flex;
    flex-wrap: wrap;
}
